/* src/app/dashboard/layout.css */
.sidebar {
    height: 100vh; /* Garante que a sidebar cubra toda a altura da tela */
    background-color: #1E1E1E; /* Verde personalizado */
  }
  
  .sidebar .nav-link.active {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
  }
  